header {
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    background: url(images/logo.png) 20px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;

}
